.section-gallery {
  padding: 50px 0;
  background-color: #f8f8f8;
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.ui-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

.gallery-slider {
  overflow: hidden;
}

.gallery-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-scale {
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
